* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

li {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 20px;
}

.header a,
.header a::before,
.header a::after {
    color: #F9FAF8;
    text-decoration: none;
}

.header p {
    font-size: 48px;
}

ul {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.quote {
    background-color: #E5E7EB;
}