@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    justify-content: space-between;
}

.header,
.hero,
.footer {
    background-color: #2b0028;
}

.header {
    align-items: center;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.header a,
.header a::before,
.header a::after,
.footer a {
    color: #F9FAF8;
    text-decoration: none;
}

.logo {
    align-content: center;
    flex: 0 0 auto;
    font-size: 48px;
    text-align: center;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex: 0 0 auto;
    font-size: 20px;
    gap: 20px;
    justify-content: space-between;
    padding: 0px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 50px;
}

.hero-text {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    max-width: 600px;
    min-width: 250px;
}

.hero-text h2 {
    font-size: 50px;
}

.hero-text p {
    font-size: 25px;
}

.hero-button,
.signup-button {
    background-color: #c92798;
    border-radius: 10px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
}

.hero-image {
    flex: 1 1 auto;
    max-height: 300px;
    max-width: 600px;
}

.hero-image img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    max-width: 1420px;
}

.card {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
    text-align: center;
    width: 250px;
}

.card img {
    border-radius: 20px;
    border: 5px solid #c92798;
}

.quote {
    align-items: center;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    max-width: 1200px;
    padding: 0px 50px;
    white-space: nowrap;
}

.quote-credit {
    color: #1F2937;
    font-size: 20px;
    font-weight: bold;
    max-width: 1200px;
}

.signup {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.signup-card {
    align-items: center;
    background-color: #c92798;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    font-size: 20px;
    gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
    padding: 40px 80px;
}

.signup h3 {
    font-size: 30px;
}

.signup-button {
    border-radius: 10px;
    border: 2px solid #F9FAF8;
}

.footer {
    color: #F9FAF8;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 40px;
}